h1 {
text-align: center;
color: lime;
font-size: 50px;
font-family: "Impact";
}
h1:hover{
background-color: black;
text-align: center;
color: blue;
font-size: 50px;
font-family: "Calibri";
}
img {
    position: fixed;
    top: 300;
    right: 190px;
}
